:host{
  padding: 2rem;
  display: block;
}
input{
  &.is-valid {
    border: 2px solid green;
  }
  &.is-invalid {
    border: 2px solid red;
  }
}
.messages {
  opacity: 0;
  transition: all 0.5s ease-in;
  &.active {
      opacity: 1;
  }
  & strong {
      color: darkred;
  }
}
mat-form-field{
  width: 100%;
  max-width: 300px;
  display: block;
}
form>div mat-form-field{
  display: inline-block;
}
form>div mat-form-field + mat-form-field{
  margin-left: 1rem;
}
